<div id="calendar">
  <div id="month-select">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </h2>
</div>
  <%= calendar_for @shows, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
    <% calendar.day(:day_method => :date) do |date, shows| %>
      <%= date.day %>
      <ul id="calendar">
        <% for show in shows %>
          <% if show != shows[shows.count - 1] %>
          <li id="next"><%= link_to h(show.acts), show %></li>
          <% else %>
          <li><%= link_to h(show.acts), show, :title => show.acts + ' @ ' + show.location %>
          </li>
          <% end %>
    <% end %>
  </ul>
  <% end %>
  <% end %>
</div>

<script>
$("#calendar a").tooltip({ 
    bodyHandler: function() { 
        return $($(this).attr("href")).html(); 
    }, 
    showURL: false 
});

$("#next a").tooltip({ 
    bodyHandler: function() { 
        return $($(this).attr("href")).html(); 
    }, 
    showURL: false 
});
</script>