<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_field :acts, placeholder: "bands (seperate with comma)" %>
  </div>
  <div class="field">
  	<%= f.text_field :location, placeholder: "location" %>
  </div>
  <div class="field">
  	<%= f.date_select :date %>
  </div>
  <div class="field">
  	<%= f.text_area :details, placeholder: "details: address, directions, facebook, contact info" %>
  </div>
  <%= f.submit "submit", class: "btn btn-large btn-primary" %>
<% end %>