<li>
  <span class="content"><%= micropost.date %>
     - <%= micropost.acts %> @ <%= micropost.location %></span>
  <span class="timestamp">
    created <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method:  :delete,
                                     confirm: "You sure?",
                                     title:   micropost.content %>
    <%= link_to "details", micropost %>
  <% end %>
</li>