<% provide(:title, @micropost.title_link) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @micropost.acts %>
      </h1>
      <br />
      <h3><%= @micropost.location %> </h3>
      <br />
      <h3><%= @micropost.date.strftime('%b') %> <%= @micropost.date.day %>, <%= @micropost.date.year %> </h3>
    </section>
    <section>
      <% if current_user?(@micropost.user) || current_user?(5) %>
        <%= link_to "edit", edit_micropost_path(@micropost) %>
        //
        <%= link_to "delete", @micropost, method:  :delete,
                                     confirm: "You sure?",
                                     title:   @micropost.content %>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    
     <div class="well">
     <%= simple_format(@micropost.details) %>
   </div>

  </div>
</div>