<% provide(:title, "edit show") %> 
<h1>edit details</h1>

<div class="row">
  <div class="span6 offset3">
  <%= form_for(@show) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


      <%= f.label :acts %>
      <%= f.text_field :acts %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :date %>
      <%= f.date_select :date, :size => "10x10" %>

      <%= f.label :details %>
      <%= f.text_area :details, :size => "5x10" %>

      <%= f.submit "save changes", :class => "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>