<% provide(:title, "edit show") %> 
<h1>edit details</h1>

<div class="row">
  <div class="span9 offset3">
  <%= form_for(@show) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


      <%= f.label "Bands (use parentheses to surround band name if name contains a comma)" %>
      <%= f.text_field :acts %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :date %>
      <%= f.date_select :date, :size => "10x10" %>

      <%= f.label :details %>
      <%= f.text_area :details, :size => "5x10" %>

      <%= f.label "Facebook Event Link" %>
      <%= f.text_field :fblink %>

      <%= f.label "Link to flyer (jpg, png, gif)" %>
      <%= f.text_field :flyerlink %>

      <%= f.label "Link to somewhere else" %>
      <%= f.text_field :altlink %>

      <%= f.submit "save changes", :class => "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>