<header>
<header class="top">

 


<div id="HeaderWrapper">
  <div id="header">
  <div class="top-inner">
    <div class="container">
      <%= link_to "CONNECTICUT", root_path, id: "logo" %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
      

        <ul id="navlist">
          <% if signed_in? %>
          <li> You are <%= link_to current_user.name, current_user %></li> /
            
            <li> <%= link_to "Create show", newshow_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      
    </div>
    </div>
  </div>
  </div>
</header>
</header>