<header>
<header class="top">
<div id="HeaderWrapper">
  <div class="container" id="topheader">
      <%= link_to "CONNECTICUT", root_path, id: "logo" %>
      <%= image_tag("ctsmall.gif", :size => "25x35") %>
        <ul id="navlist">
          <% if signed_in? %>
            <li><%= link_to current_user.name, current_user %></li> /
            <li> <%= link_to "Add Show", newshow_path %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="container">
        <ul id="titles">
        <li><%= link_to "UPCOMING SHOWS", future_path %></li>
        <li><%= link_to "CALENDAR", root_path %></li>
        <li><%= link_to "PAST SHOWS", past_path %></li>
      </ul>
    </div>
  </div>
</header>
</header>